@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
    --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
    font-family: var(--font-sans);
}

.prose :where(code):not(:where(pre :is(code))) {
    background: #f6f6f6;
    padding: 2px 4px;
    border-radius: 4px;
}
